<html>
	<head>
		<link href="main.css" rel="stylesheet">
	</head>
	<body>
		<p>
			<big><big><b>yak·shaving</b></big></big> <br />
			/ˈyakˌSHāviNG/
		</p>

		<p>
			<i>noun</i>
		</p>

		<ol>
			<li>
				<span class="definition">Any apparently useless activity which, by allowing you to overcome intermediate difficulties, allows you to solve a larger problem.</span> <br />
				<span class="usage">I was doing a bit of <b>yak shaving</b> this morning, and it looks like it might have paid off.</span>
			</li>
			<li>
				<span class="definition">A less useful activity done to consciously or unconsciously procrastinate about a larger but more useful task.</span> <br />
				<span class="usage">I looked at a reference manual for my car just to answer one question, but I spent the whole afternoon with my nose buried in it, just <b>yak shaving</b>, and got no work done on the car itself.</span>
			</li>
		</ol>

		<br />
		<br />
		<br />
		<p class="ghost">
			via <a href="http://en.wiktionary.org/wiki/yak_shaving">Wiktionary</a>
		</p>
	</body>
</html>